extends base/_layout
block head
    title Skin.Club Daily Free Cases
block page
    .main-content
        .main-content__col
            .main-content__col-sliders
                .main-content__col-sliders__col
                    .splide.skins-splide-left
                        .splide__track
                            .splide__list
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-3-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-3.webp" type="image/webp")
                                                img(src="images/lvl-3.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 3
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-10-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-10.webp" type="image/webp")
                                                img(src="images/lvl-10.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 10
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-20-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-20.webp" type="image/webp")
                                                img(src="images/lvl-20.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 20
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-30-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-30.webp" type="image/webp")
                                                img(src="images/lvl-30.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 30
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-40-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-40.webp" type="image/webp")
                                                img(src="images/lvl-40.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 40
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-45-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-45.webp" type="image/webp")
                                                img(src="images/lvl-45.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 45
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-50-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-50.webp" type="image/webp")
                                                img(src="images/lvl-50.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 50
                                            .text-2 DAILY
                .main-content__col-sliders__col
                    .splide.skins-splide-right
                        .splide__track
                            .splide__list
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-60-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-60.webp" type="image/webp")
                                                img(src="images/lvl-60.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 60
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-70-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-70.webp" type="image/webp")
                                                img(src="images/lvl-70.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 70
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-80-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-80.webp" type="image/webp")
                                                img(src="images/lvl-80.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 80
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-90-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-90.webp" type="image/webp")
                                                img(src="images/lvl-90.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 90
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-100-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-100.webp" type="image/webp")
                                                img(src="images/lvl-100.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 100
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-110-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-110.webp" type="image/webp")
                                                img(src="images/lvl-110.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 110
                                            .text-2 DAILY
                                //item
                                .splide__slide
                                    .skin-slide-item
                                        .skin-slide-item__bg
                                            .skin-slide-item__bg-inner
                                            picture
                                                source(media="(max-width: 767px)" srcset="images/lvl-120-mobile.webp" type="image/webp")
                                                source(media="(min-width: 768px)" srcset="images/lvl-120.webp" type="image/webp")
                                                img(src="images/lvl-120.webp" alt="case" width="898" height="898" decoding="async" loading="lazy")
                                        .skin-slide-item__info 
                                            .text-1 LEVEL 120
                                            .text-2 DAILY
        .main-content__col.main-content__col-content-wrapper
            .main-content__col-content
                .main-content__col-content-text-area
                    .text-1 up to 14
                    .text-2 free
                    .text-3 daily cases
                div
                    .main-content__col-content-btn-area
                        a(data-href="#" href="" class="btn-wrap") 
                            span.btn-wrap__text 
                                span.text-locked locked
                                span.text-unlocked unlocked